* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: var(--grayish-blue);
    font-family: 'Barlow', sans-serif;
    scroll-behavior: smooth;
}

p {
    color: var(--dark-grayish-blue);
    font-family: 'Barlow', sans-serif;
    line-height: 1.5rem;
}